Package: dencoder-client
Version: 0.3.0-ubuntu1
Section: video
Depends: python (>= 2.6.0), python-pip
Architecture: all
Maintainer: Dustin Rue [dustin@webscalesauce.com]
Provides: dencoder-client
Priority: optional
Description: Distributed h264 encoder system
